table {
    border-collapse: collapse;
    margin-top: 1rem;
    width: 100%;
  }
  
  tr {
    display: flex;
  }
  
  table a {
    text-decoration: none;
    color: white;
  }
  
  th {
    background-color: #24344d;
    color: var(--backgroundColor);
  }
  
  th,
  td {
    padding: 10px;
    text-align: center;
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .hide{
       visibility:collapse;
  }
  

